name: Auto Update

on:
  schedule:
    - cron: "0 0 1 * *"   # 每月1号 00:00 UTC
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update timestamp
        run: |
          date > keepalive.txt

      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "auto update" || echo "No changes"

      - name: Push
        run: |
          git push
